In [129]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import random

## @@@ Calculate the significanlt level of a test 
### Given the following information
#### (1) data - n observations
#### (2) H0: b=10
#### (3) rejection region: if max(X)<r, then reject the null

### we can calculate the level of the test - Prob(false rejection | H0 is true)

In [230]:
a      = 5
r_list = [9+0.1*i for i in range(10)]
sample_size_list = [10,20,50,100]
h0     = 10

In [231]:
##### Since this task is to calculate the type 1 error, the true b is same with the b in H0. 
true_b = 10

In [243]:
alpha_n_r_sim = pd.DataFrame(columns = ['r values']+['n='+str(i) for i in sample_size_list])
for r in range(len(r_list)):
    alpha_n_r_sim.loc[r,'r values'] = r_list[r]
    for ss in range(len(sample_size_list)):
        n_experiment = 100
        result       = pd.DataFrame(columns=['ts','reject'])
        for e in range(n_experiment):
            sample = np.random.uniform(a,true_b,sample_size_list[ss])
            ts     = sample.max()
            result.loc[e,'ts']     = ts
            result.loc[e,'reject'] = int(ts<r_list[r])
        alpha_n_r_sim.iloc[r,ss+1] = result['reject'].mean()
alpha_n_r_sim

  r values  n=10  n=20  n=50 n=100
0      9.0  0.11  0.04   0.0   0.0
1      9.1  0.19  0.02   0.0   0.0
2      9.2  0.15  0.01   0.0   0.0
3      9.3  0.24  0.05   0.0   0.0
4      9.4   0.2  0.09   0.0   0.0
5      9.5  0.39  0.08  0.01   0.0
6      9.6  0.49  0.15  0.02   0.0
7      9.7  0.66  0.26  0.01  0.01
8      9.8   0.6  0.51  0.14  0.01
9      9.9  0.87  0.72  0.29  0.08

In [237]:
alpha_n_r_analytical = pd.DataFrame(columns = ['r values']+['n='+str(i) for i in sample_size_list])
for r in range(len(r_list)):
    alpha_n_r_analytical.loc[r,'r values'] = r_list[r]
    for ss in range(len(sample_size_list)):
        alpha_n_r_analytical.iloc[r,ss+1] = ((r_list[r]-a)/(h0-a))**sample_size_list[ss]
alpha_n_r_analytical

  r values      n=10      n=20      n=50     n=100
0      9.0  0.107374  0.011529  0.000014       0.0
1      9.1  0.137448  0.018892  0.000049       0.0
2      9.2  0.174901   0.03059  0.000164       0.0
3      9.3  0.221302  0.048974  0.000531       0.0
4      9.4  0.278501  0.077563  0.001675  0.000003
5      9.5  0.348678  0.121577  0.005154  0.000027
6      9.6  0.434388  0.188693  0.015466  0.000239
7      9.7  0.538615  0.290106  0.045331  0.002055
8      9.8  0.664833  0.442002  0.129886   0.01687
9      9.9  0.817073  0.667608   0.36417   0.13262

In [238]:
a

5

## @@@ Calculate the reject region to achieve a desired level
### Given the following information
#### (1) data - n observations
#### (2) H0: b=10
#### (3) desired level: 0.05

### we can calculate the rejection region to achieve the desired level

In [109]:
a          = 5
alpha_list = [0.01,0.05,0.1]
sample_size_list = [8,20,50,100]
h0     = 10

In [115]:
r_n_alpha = pd.DataFrame(columns = ['alpha values']+['n='+str(i) for i in sample_size_list])
for alpha in range(len(alpha_list)):
    r_n_alpha.loc[alpha,'alpha values'] = alpha_list[alpha]
    for ss in range(len(sample_size_list)):
        r_n_alpha.iloc[alpha,ss+1] = alpha_list[alpha]**(1/sample_size_list[ss])*(h0-a)+a

In [116]:
r_n_alpha

  alpha values       n=8      n=20      n=50     n=100
0         0.01  7.811707  8.971641  9.560054  9.774963
1         0.05   8.43828  9.304458  9.709225  9.852435
2          0.1  8.749471  9.456255  9.774963  9.886186

##### checking: n=20, r=9.456255, expected alpha=0.1

In [125]:
n_experiment = 1000
n_now = 20
r_now = 9.456255

alpha_check = [np.nan]*10

for i in range(10):
    result       = pd.DataFrame(columns=['ts','reject'])
    for e in range(n_experiment):
        sample = np.random.uniform(a,true_b,n_now)
        ts     = sample.max()
        result.loc[e,'ts']     = ts
        result.loc[e,'reject'] = int(ts<r_now)
    alpha_check[i]=result['reject'].mean()
alpha_check

[0.114, 0.107, 0.102, 0.103, 0.114, 0.087, 0.097, 0.116, 0.098, 0.084]

##### checking: n=50, r=9.560054, expected alpha=0.01

In [126]:
n_experiment = 1000
n_now = 50
r_now = 9.560054

alpha_check = [np.nan]*10

for i in range(10):
    result       = pd.DataFrame(columns=['ts','reject'])
    for e in range(n_experiment):
        sample = np.random.uniform(a,true_b,n_now)
        ts     = sample.max()
        result.loc[e,'ts']     = ts
        result.loc[e,'reject'] = int(ts<r_now)
    alpha_check[i]=result['reject'].mean()
alpha_check

[0.01, 0.01, 0.009, 0.012, 0.009, 0.003, 0.013, 0.013, 0.008, 0.01]